body,html{     user-select: none;margin:0;padding:0;font:12px/16px Verdana,Helvetica,Arial,sans-serif;width: 100%;height: 100%;background:#000}
ul,li{list-style: none;margin:0;}
.header{
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    color: #c4edef;
    font-size: 16px;
}
.title{
    float: left;
    margin-left: 120px;
    font-size: 30px;
    text-shadow: rgba(89, 168, 168,.7) 2px 2px 3px;
    position: relative;
}
.title::before {
    content: '';
    display: block;
    background: url(../img/t0.png);
    width: 100px;
    height: 50px;
    position: absolute;
    background-size: cover;
    top: 6px;
    left: -99px;
}
.title-after{
    position: absolute;
    top: -13px;
    left: -94px;
    transform: perspective(1000px) rotateY(40deg) rotateX(-45deg);
    background: url(../img/t0.png);
    display: block;
    width: 100px;
    height: 100px;
    opacity: .8;
}
.title-after-img {
    display: block;
    background: url(../img/t5.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    animation: spin 5s linear infinite;
}
.title-after-inimg{
    display: block;
    background: url(../img/t51.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    animation: spin1 8s linear infinite;
}
.title-after-pimg{
    display: block;
    background: url(../img/t0.png);
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: cover;
    animation: spin1 20s linear infinite;
}

@keyframes spin {
    0%   {

        transform: rotateZ(0);
    }
    100% {

        transform: rotateZ(360deg);
    }
}
@keyframes spin1 {
    0%   {

        transform: rotateZ(360deg);
    }
    100% {

        transform: rotateZ(0deg);
    }
}
.nav{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.nav li{
    position: relative;
    display: inline-block;
    height: 25px;
    width: 120px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid rgba(67, 236, 236, 0.8);
    transform: skewX(160deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background: rgba(0,0,0,0);
}
.nav li:hover{
    border-color:rgba(67, 236, 236, 1);
    background: rgba(0,0,0,.7);
}
.nav li a{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 25px;
    text-align: center;
    color:#c4edef;
    text-decoration: none;
    transform: skewX(20deg);
}
.nav li:hover a{
    color:#2af5ff;
}
#container{
    opacity: 0;
    transition: opacity 1s;
}
#container.loaded{
    opacity: 1;
}
.echart-con{
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    perspective:600px;
    transform-style: preserve-3d;
}
.echart-con .item{
    float: left;
    box-sizing: border-box;
    width: calc(25% - 15px);
    height: 150px;
    margin-right: 20px;

    /* border-radius: 0px; */
    /* border: 1px solid rgba(101, 202, 202, 0.92);*/
    /*box-shadow: 0 0 5px rgba(37, 156, 156, 0.73);*/
    transition: transform 1s;
    transform: rotateX(90deg);
    background-image:url(../img/border2.png);
    background-size: cover;
    padding: 27px 20px 0px 24px;
    /*  */
}
.echart-con .item.loaded{
    transform: rotateX(0deg);
}
.echart-con .item:nth-of-type(4n){
    margin-right: 0;
}
.echart-con .item .chart{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);

}
.con-panel{
    position: fixed;
    top:0;
    width: 120px;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

.left-panel{
    left: 0;
    background: -webkit-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* 标准的语法（必须放在最后） */
}
.right-panel{
    right: 0;
    background: -webkit-linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)); /* 标准的语法（必须放在最后） */
}
